.Home-button {
  font-size: 18pt;
  text-align: center;
  line-height: 0;
}

.Home-header {
  text-align: center;
  margin-bottom: var(--m);
}

.Home-mine {
  color: rgb(22, 99, 19);
}

.Home-admin-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--s);
}
